{% extends "base.html" %} 
{% block title %} Курс валюты {% endblock title %} 
{% block content %}
<h2 class="mt-4 text-center">Курс валют на сегодня</h2>
<div class="container mt-3">
  <table class="table table-secondary table-bordered text-center mt-3">
    <thead>
      <tr>
        <th scope="col">Название</th>
        <th scope="col">Курс покупки</th>
        <th scope="col">Курс продажи</th>
      </tr>
    </thead>
    <tbody>
      {% for rate in rates %}
      <tr>
        <td>{{rate.name}} {{rate.symbol}}</td>
        <td>{{rate.rate_buy}} RUB</td>
        <td>{{rate.rate_sell}} RUB</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
