{% extends "base.html" %}
{% block title %} Новые заявки {% endblock title  %}
{% block content %}
{% include "inc/_operationsmenu.html" %}
<div class="container">
  <h2 class="mt-4 text-center">Новые заявки на обмен валюты</h2>
  <table class="table mt-3 table-secondary table-bordered text-center">
    <thead class="text-center">
      <tr>
        <th scope="col">Тип операции:</th>
        <th scope="col">Статус:</th>
        <th scope="col">Валюта:</th>
        <th scope="col">Курс:</th>
        <th scope="col">Сумма обмена:</th>
        <th scope="col">Пользователь:</th>
        <th scope="col">Дата создания заявки:</th>
        <th scope="col">Детальный просмотр:</th>
      </tr>
    </thead>
{% for operation in operations %}
  <tbody>
    <tr>
      <th class=
      {% if operation.order.operation_type == "Sell" %}
      'text-success'
      {% else %}
      'text-danger'
      {% endif %}
      >{{ operation.order.get_operation_type_display }}</th>
      <td>{{operation.get_status_display}}</td>
      <td>{{operation.order.currency.name}}</td>
      <td>{{operation.rate}} ₽</td>
      <td>{{operation.order.amount}} {{operation.order.currency.symbol}}</td>
      <td>{{operation.order.user.username}}</td>
      <td>{{operation.order.created_at}}</td>
      <td><a href='{% url 'get_operation_by_id' id=operation.id %}'>Обработать заявку №{{operation.id}}</a></td>
    </tr>
  </tbody>   
{% endfor %}
  </table> 
</div>
{% endblock content %}