{% extends "base.html" %}
{% block title %} Редактирование операции {% endblock title  %}
{% block content %}
{% include "inc/_operationsmenu.html" %}
<div class="container">
  <h2 class="mt-4 text-center">Редактирование заявки №{{operation.id}} 
  {{operation.order.user.first_name}}
  {{operation.order.user.last_name}}
  </h2>
  <form method="POST">
  {{form.errors}}
  {% csrf_token %}
   <table class="table mt-3 table-secondary table-bordered text-center">
    <thead class="text-center">
      <tr>
        <th scope="col">Тип операции:</th>
        <th scope="col">Статус:</th>
        <th scope="col">Валюта:</th>
        <th scope="col">Курс:</th>
        <th scope="col">Сумма обмена:</th>
        <th scope="col">Пользователь:</th>
        <th scope="col">Дата создания заявки:</th>
      </tr>
    </thead>
  <tbody>
    <tr>
      <th>{{ operation.order.get_operation_type_display }}</th>
      <td>{{form.status}}</td>
      <td>{{operation.order.currency.name}}</td>
      <td>{{operation.rate}} ₽</td>
      <td>{{operation.order.amount}} {{operation.order.currency.symbol}}</td>
      <td>{{operation.order.user.username}}</td>
      <td>{{operation.order.created_at}}</td>

    </tr>
    </tbody> 
  </table> 
  <table class="table mt-3 table-secondary table-bordered text-center">
    <thead class="text-center">
      <tr>
        <th scope="col"><button class='btn btn-secondary text-center'>Сохранить</button></th>
      </tr>
    </table>
    </thead>
  </form>
</div>
{% endblock content %}