{% extends 'base.html' %} 
{% block title%} Авторизация {% endblock%}
{% block content %}
 <h2 class="text-center mt-4">Авторизация</h2>
<div class="container mt-3 bg-gradient bg-light border border-secondary">
  <div class="form-group">
    <form method="POST">
    {% csrf_token %}
      <div class="form-group">
        <h5 class='text-danger'>{{form.non_field_errors}}</h3>
        <label for="exampleInputUsername"> {{form.username.label_tag}}</label>
        {{form.username}}
        <small id="Username" class="form-text text-danger">{{form.username.errors}}</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword">{{form.password.label_tag}}</label>
                {{form.password}}
        <small id="Password" class="form-text text-danger">{{form.password.errors}}</small>
      </div>
      <div class="row">
        <div class="col text-center">
      <button type="submit" class="btn btn-secondary mt-2 text-center">Войти</button>
        </div>
    </form>
    <b class="text-center"> Не зарегистрированны? <a href="{% url 'signup' %}"> Регистрация </a></b>
  </div>
</div>
{% endblock %}