<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
     <div class="col-2">
      </div>
      <div class="col-8 text-center">
        <span class="text-muted">© Copyright 2021 Все права защищены.</span><p class=""> www.money-exchange.com</p>
      </div>
       <div class="col-2 justify-content-end">
       {% load static %}
        <a href="http://vk.com/id1"><img src="{% static "img/vk-logo.svg"%}" width=30 height=30></a>
      </div>
    </div>
  </div>
</footer>