  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=" {% url "index" %}">
          {% load static %}
          <img src="{% static "img/money.svg"%}"  height=30 width=30 class="mx-2 img-fluid">Money exchange
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mb-2 mb-md-0 mx-2">
          {% if user.is_superuser %}
          <li class="nav-item mx-2">
            <a class="nav-link" href="{% url "admin:index" %}" tabindex="-1">Администрирование</a>
          </li>
          {% endif %}
          <li class="nav-item mx-2">
            <a class="nav-link" href="{% url "currency_rate" %}">Курс валют</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item mx-2">
            <a class="nav-link" href="{% url "get_my_orders" %}">Заявки</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-md-0 mx-2">
          <li class="nav-item mx-2">
            <a href="{% url "user_settings" %}" class="nav-link">Привет, <b> {{user.username}} </b></a>
          </li>
          <li class="nav-item mx-2">
            <a href="{% url "user_logout" %}" class="nav-link">Выйти</a>
          </li>
          {% else %}
          <li class="nav-item mx-2">
            <a href="{% url "signin" %}" class="nav-link">Авторизация</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>